<!--Aplicaciones-->
<div class="row">
  <div class="col-12">
    <select (change)="seleccionarCategoria()" [(ngModel)]="idCategoriaSeleccionada" class="form-control" id="categoria"
      style="font-size: 1.9rem;">
      <option value="noValue">- Seleccione una categoria -</option>
      <option *ngFor="let categoria of categorias" [ngValue]="categoria._id">{{categoria.nombreCategoria}}</option>
    </select>
    <br>
  </div>
</div>
<div class="row" id="aplicaciones">

  <!--Aplicacion-->
  <div class="col-lg-2 col-md-3 col-6 d-flex" *ngFor="let aplicacion of aplicaciones">
    <div class="card shadow" (click)="detalleAplicacion(modalDetalleApp, aplicacion._id)">
      <div class="card-body">
        <img src="../../../assets/{{aplicacion.icono}}" class="img-fluid">
        <div class="texto-aplicacion">{{aplicacion.nombre}}</div>
        <div class="texto-desarrollador">{{aplicacion.desarrollador}}</div>
        <div class="estrellas" [innerHTML]="generarEstrellas(aplicacion.calificacion)">
        </div>
        <div class="precio">
          ${{aplicacion.precio}}
        </div>
      </div>
    </div>
  </div>

</div>
<!---->
<!--Modal Aplicacion-->
<ng-template #modalDetalleApp let-modal>
  <div class="modal-body">
    <div class="row">
      <div class="col-4">
        <img id="imagen-app" class="img-fluid" src="../../../assets/{{appSeleccionada.icono}}">
      </div>
      <div class="col-8">
        <h2 id="nombre-app">{{appSeleccionada.nombre}}</h2>
        <div class="texto-desarrollador" id="desarrollador-app">{{appSeleccionada.desarrollador}}</div>
        <div id="descripcion-app">{{appSeleccionada.descripcion}}</div>
      </div>
    </div>
    <hr>
    <div id="estrellas-app" class="text-center"
      [ngClass]="{'estrella-roja': appSeleccionada.calificacion < 3, 'estrella-verde':appSeleccionada.calificacion >= 3}"
      [innerHTML]="generarEstrellas(appSeleccionada.calificacion)">
    </div>
    <hr>
    <!--Carousel-->
    <ngb-carousel>
      <ng-template ngbSlide *ngFor="let imagen of appSeleccionada.imagenes">
        <div class="picsum-img-wrapper">
          <img src="../../../assets/{{imagen}}" alt="...">
        </div>
      </ng-template>
    </ngb-carousel>
    <!--Fin Carousel-->
    <hr>
    <div class="row comentario" *ngFor="let comentario of appSeleccionada.comentarios">
      <div class="col-2">
        <img src="../../../assets/img/user.webp" class="rounded-circle">
      </div>
      <div class="col-10">
        <b>{{comentario.usuario}}</b>
        <p class="text-muted">{{comentario.comentario}}</p>
      </div>
    </div>
    <!--Formulario nuevo comentario-->
    <form [formGroup]="formularioComentario">
      <div class="row">
        <div class="col-10">
          <input formControlName="comentario" class="form-control" type="text" id="nuevoComentario"
            placeholder="Nuevo comentario" (keypress)="pulsarTecla($event)">
        </div>
        <div class="col-2">
          <button [disabled]="!formularioComentario.valid" type="button" class="btn btn-success"
            (click)="guardarComentario(appSeleccionada._id)"><i class="fa fa-paper-plane"></i></button>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn btn-success" (click)="modal.close('Boton Cerrar')">Cerrar</button>
  </div>
</ng-template>
