<section class="tiktok-list" id="tiktok-list">
  <!--Tiktok base-->
  <ng-container *ngFor="let tiktok of tiktoks">
    <div class="tiktok">
      <div class="row">
        <div class="col-lg-10 col-md-12">
          <div class="tiktok__content">
            <div class="tiktok__header">
              <ng-container *ngFor="let usuario of tiktok.usuario">
                <figure class="mr-4">
                  <img src="../../../assets/{{usuario.urlImagen}}" class="rounded-circle user-img" alt="Profile pic" />
                </figure>
                <div class="tiktok___info">
                  <div class="user-info">
                    <strong>@{{usuario.usuario}}</strong>
                    <span class="ml-2">{{usuario.nombre}}</span>
                  </div>
                  <div class="tiktok__desc">
                    <div class="hashtags">
                      <ul>
                        <li class="mr-2" *ngFor="let hashtag of tiktok.hashtags">
                          #{{hashtag.hashtag}}
                        </li>
                      </ul>
                    </div>
                    <span>{{tiktok.titulo}}</span>
                  </div>
                  <div class="tiktok__name">
                    <i class="fas fa-music mr-3"></i>
                    <p>{{tiktok.tituloCancion}}</p>
                  </div>
                </div>
              </ng-container>
            </div>
            <div class="tiktok__media">
              <video class="tiktok-video" controls src="../../../assets/{{tiktok.video}}"></video>

              <div class="buttons">
                <ul>
                  <li class="text-center mb-2">
                    <div class="btn-icon rounded-circle">
                      <i class="fas fa-heart fa-lg"></i>
                    </div>
                    {{tiktok.likes}}
                  </li>
                  <li class="text-center mb-2">
                    <div class="btn-icon rounded-circle" (click)="modalComentario(commentModal, tiktok._id)">
                      <i class="fas fa-comment-dots fa-lg"></i>
                    </div>
                    {{tiktok.numeroComentarios}}
                  </li>
                  <li class="text-center mb-2">
                    <div class="btn-icon rounded-circle">
                      <i class="fas fa-share fa-lg"></i>
                    </div>
                    {{tiktok.shares}}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 d-lg-block d-none">
          <div class="tiktok__follow">
            <button class="btn btn-main-outline btn-sm btn-follow font-weight-bold">
              Follow
            </button>
          </div>
        </div>
      </div>
    </div>
    <hr />
  </ng-container>
</section>

<!--Modal Comentarios-->
<ng-template #commentModal let-modal>
  <div class="modal-body">
    <h4 class="modal-title text-center font-weight-bold" id="commentModalTitle">
      Comentarios
    </h4>
    <div class="comment-list p-4" id="comment-list">
      <!--Comentario base-->
      <div class="comment d-flex" *ngFor="let comentario of comentarios">
        <figure class="mr-4">
          <img width="50" class="rounded-circle" src="../../../assets/{{comentario.urlImagen}}" alt="Profile pic" />
        </figure>
        <div class="comment__data">
          <strong>{{comentario.usuario}}</strong>
          <p>{{comentario.comentario}}</p>
        </div>
      </div>
    </div>
    <ng-container *ngIf="getAuthService().loggedIn()">
      <div class="form-group">
        <form [formGroup]="formularioComentario">
          <label for="">Añade un comentario</label>
          <textarea
            [ngClass]="{'form-input-error':textComentario.invalid && (textComentario.dirty || textComentario.touched)}"
            formControlName="textComentario" id="comment-input" class="form-control"
            placeholder="Escribe un comentario"></textarea>
          <div *ngIf="textComentario.invalid && (textComentario.touched)" class="form-error">
            <span *ngIf="textComentario.errors.required">Campo obligatorio</span>
          </div>
        </form>
      </div>
      <div class="text-center" id="btn-comment-container">
        <button [disabled]="!formularioComentario.valid" ngbAutoFocus class="btn btn-main btn-lg"
          (click)="addComment()">
          Comentar
        </button>
      </div>
    </ng-container>
    <ng-container *ngIf="!getAuthService().loggedIn()">
      <div class="form-error text-center">
        <span>Inicia Sesion para Comentar</span>
      </div>
    </ng-container>
  </div>
</ng-template>
