<div class="side-card">
  <h4 class="mb-4">Suggested accounts</h4>
  <ul id="suggested-list">
    <li class="suggested-user" *ngFor="let usuario of usuarios">
      <figure>
        <img class="rounded-circle mr-2 user-img-md" src="../assets/{{usuario.urlImagen}}" alt="Profile pic" />
      </figure>
      <div class="user-info">
        <strong>{{usuario.nombre}}</strong>
        <p class="text-gray">@{{usuario.usuario}}</p>
      </div>
      <button class="btn btn-main-outline btn-sm ml-auto side-button">
        Follow
      </button>
    </li>
  </ul>
</div>
