<main class="container mt-5" id="listaPreguntas">
  <div class="row">
    <div class="col-12">
      <h2>Preguntas Top</h2>
      <button class="btn btn-outline-warning btn-sm" (click)="modalPregunta(modalNuevaPregunta)">Nueva Pregunta</button>
    </div>
  </div>
  <!-- Item -->
  <div class="row question-row" *ngFor="let pregunta of preguntas">
    <div class="col-md-2 col-lg-1 text-center text-muted small">
      <div>{{pregunta.votos}}</div>
      <div>Votos</div>
    </div>
    <div class="col-md-2 col-lg-1 text-center text-muted small">
      <div>{{pregunta.numeroRespuestas}}</div>
      <div>Respuestas</div>
    </div>
    <div class="col-md-2 col-lg-1 text-center text-muted small">
      <div>{{pregunta.vistas}}</div>
      <div>Vistas</div>
    </div>
    <div class="col-md-6 col-lg-9">
      <div>
        <button class="btn btn-link" (click)="verDetallePregunta(pregunta)">{{pregunta.titulo}}</button>
      </div>
      <div>
        <span class="badge badge-warning mr-1" *ngFor="let hashtag of pregunta.hashtags">{{hashtag}}</span>
      </div>
      <div class="float-right" *ngFor="let usuario of pregunta.usuario">
        <span class="small text-muted mr-1">{{pregunta.fecha}}</span>
        <span class="small user-text">{{usuario.nombre}}</span>
        <img src="../../../assets/{{usuario.urlImagen}}" class="small-profile-pic">
      </div>
    </div>
  </div>
  <!-- Fin Itemn -->
</main>

<!-- Modal Nueva pregunta -->
<ng-template #modalNuevaPregunta let-modal>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <h5>Nueva Pregunta</h5>
        <form [formGroup]="formularioPregunta">
          <input [ngClass]="{'form-input-error':titulo.invalid && (titulo.dirty || titulo.touched)}"
            class="form-control" formControlName="titulo" placeholder="Pregunta">
          <div *ngIf="titulo.invalid && (titulo.touched)" class="form-error">
            <span *ngIf="titulo.errors.required">Campo obligatorio</span>
          </div><br>
          <textarea [ngClass]="{'form-input-error':descripcion.invalid && (descripcion.dirty || descripcion.touched)}"
            class="form-control" cols="30" rows="7" formControlName="descripcion" placeholder="Descripción"></textarea>
          <div *ngIf="descripcion.invalid && (descripcion.touched)" class="form-error">
            <span *ngIf="descripcion.errors.required">Campo obligatorio</span>
          </div>
          <span class="small text-muted">Etiquetas permitidas: br, pre</span><br><br>
          <input [ngClass]="{'form-input-error':hashtags.invalid && (hashtags.dirty || hashtags.touched)}"
            class="form-control" formControlName="hashtags" placeholder="Hashtags (separadas por coma)">
          <div *ngIf="hashtags.invalid && (hashtags.touched)" class="form-error">
            <span *ngIf="hashtags.errors.required">Campo obligatorio</span>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button [disabled]="!formularioPregunta.valid" class="btn btn-outline-warning"
      (click)="publicarPregunta()">Publicar</button>
    <button ngbAutoFocus type="button" class="btn btn-secondary" (click)="modal.close('Cerrar')">Cancelar</button>
  </div>
</ng-template>
<!---->
